<div class="row">
  <div class="col-md-4 offset-md-4">
    <form (ngSubmit)="onSignIn(formSignIn)" #formSignIn="ngForm">
      <div class="form-group">
        <label for="">Email</label>
        <input class="form-control" [ngClass]="(txtEmail.touched && (txtEmail.errors?.required ||  txtEmail.errors?.email))?'is-invalid':'is-valid'"
          name="email" placeholder="Input email" ngModel #txtEmail="ngModel" required email>
        <div *ngIf="txtEmail.touched && txtEmail.errors?.required" class="invalidInput">
          <p>
            Email is empty
          </p>
        </div>

        <p *ngIf="txtEmail.touched && txtEmail.errors?.email" class="invalidInput">
          Email is not valid
        </p>
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Input password" 
          ngModel #txtPassword="ngModel"  [ngClass]="(txtPassword.touched && (txtPassword.errors?.required || txtPassword.errors?.minlength))?'is-invalid':''"
          required minlength="8" pattern="[a-z]*">
        <div *ngIf="(txtPassword.dirty || txtPassword.touched) && txtPassword.errors?.required">
          <p class="invalidInput">
            Password is empty
          </p>
        </div>
        <div *ngIf="(txtPassword.dirty || txtPassword.touched) && txtPassword.errors?.minlength" class="invalidInput">
          <p>
            Password must be at least 8 character long
          </p>
        </div>
        <div *ngIf="(txtPassword.dirty || txtPassword.touched) && txtPassword.errors?.pattern" class="invalidInput">
          <p>
            character a - z
          </p>
        </div>
      </div>
      <!-- <p>{{ txtPassword.errors | json}}</p> -->
      <button class="btn btn-success">Sign In</button>
    </form>

  </div>
</div>